/* ALL SIMILAR ELEMENTS GO IN MAIN.CSS NAV,FOOTER
then these styles will go in homepage.css
 */

/* * {
	box-sizing: border-box;
	border: 1px solid black;
} */

body {
	font-family: 'Lobster Two', cursive;
	background-color: firebrick;
	color: antiquewhite;
	font-size: 20px;
}

a {
	text-decoration: none;
}

h1 {
	text-shadow: #fff 0 0 10px;
}

